<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunarpunk : Forum - Discussion</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Stalinist+One|Oxanium|Barlow">
    <link rel="stylesheet" href="../css/resetCSS.css">
    <link rel="stylesheet" href="../css/styleGlobal.css">
    <link rel="stylesheet" href="../css/discussion.css">
</head>
<body>
<div id="bg_grad"></div>

<header class="online">
    <div>
        <a href=""><h1>Lunarpunk</h1></a>
        <h2>Forum</h2>        
    </div>
    <ul class="infoConnect">
        <li>Bienvenue <span id="nom"></span></li>
        <li>Nous sommes le : <span id="date"></li>
        <li>Vous vous êtes connecté à : <span id="heure"></li>
    </ul>
    <img id="burgerOpn" class="burgerBtn" src="../images/menu-burger.svg" alt="menu burger">
    <div id="overlay" class="overlay hidden"></div>
    <section id="burgerModal" class="burgerModal hidden">
        <img id="burgerClo" class="burgerBtn" src="../images/close-burger.svg" alt="menu burger">
        <ul class="navbar">
            <li>
                <button onclick="location.href='forum-home.html'" class="blue" type="button">Acceuil</button>
            </li>
            <li>
                <button onclick="location.href='forum-ironNchrome.html'" class="blue" type="button">Fer et Chrome</button>
            </li>
            <li>
                <button onclick="location.href='forum-mercWork.html'" class="blue" type="button">Boulots de Merc</button>
            </li>
            <li>
                <button onclick="location.href='forum-dailyLife.html'" class="blue" type="button">Quotidien</button>
            </li>
        </ul>
        <ul class="modalInfoConnect">
            <li>Bienvenue <span id="modalNom"></span></li>
            <li>Nous sommes le : <span id="modalDate"></li>
            <li>Vous vous êtes connecté à : <span id="modalHeure"></li>
        </ul>
        <button onclick="location.href='../index.html'" class="yellow deconnexion" type="button">Déconnexion <img src="../images/icon-logOut.svg" alt="icone de Déconnexion"></button>
    </section>
</header>

<main>
    <div id="subjects">
        <h3>Forum - Discussion</h3>
        
        <table>
            <tbody id="subjectList">
                <tr>
                    <td class="infoAutor">[compte supprimé] le 04/11/2074 (10:44)</td>
                    <td>[message supprimé par la moderation]</td>
                </tr>
                <tr>
                    <td class="infoAutor">[compte supprimé] le 04/11/2074 (10:51)</td>
                    <td>[message supprimé par la moderation]</td>
                </tr>
                <tr>
                    <td class="infoAutor">[compte supprimé] le 04/11/2074 (11:03)</td>
                    <td>[message supprimé par la moderation]</td>
                </tr>
                <tr>
                    <td class="infoAutor">[compte supprimé] le 04/11/2074 (11:24)</td>
                    <td>[message supprimé par la moderation]</td>
                </tr>
                <tr>
                    <td class="infoAutor">David Martinez le 06/11/2023 (11:24)</td>
                    <td>Qu'est ce qui c'est passer ici ?</td>
                </tr>
            </tbody>
        </table>
        
        <div id="subjectHeader">
            <p>Votre commentaire</p>
            <div>
                <textarea name="myInput" id="myInput" placeholder="Votre commentaire" rows="5" cols="33"></textarea>
                <button onclick="newElement()" class="yellow" type="button">Commenter</button>
            </div>
        </div>
    </div>

    <nav id="navigation">
        <ul class="navbar">
            <li>
                <button onclick="location.href='forum-home.html'" class="blue" type="button">Acceuil</button>
            </li>
            <li>
                <button onclick="location.href='forum-ironNchrome.html'" class="blue" type="button">Fer et Chrome</button>
            </li>
            <li>
                <button onclick="location.href='forum-mercWork.html'" class="blue" type="button">Boulots de Merc</button>
            </li>
            <li>
                <button onclick="location.href='forum-dailyLife.html'" class="blue" type="button">Quotidien</button>
            </li>
        </ul>
        <button onclick="location.href='../index.html'" class="yellow deconnexion" type="button">Déconnexion <img src="../images/icon-logOut.svg" alt="icone de Déconnexion"></button>
    </nav>
</main>

<script src="../javascript/discussion.js"></script>
<script src="../javascript/headerOnline.js"></script>
</body>
</html>