<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunarpunk : Forum - Fer et Chrome</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Stalinist+One|Oxanium|Barlow">
    <link rel="stylesheet" href="../css/resetCSS.css">
    <link rel="stylesheet" href="../css/styleGlobal.css">
    <link rel="stylesheet" href="../css/category.css">
</head>
<body>
<div id="bg_grad"></div>

<header class="online">
    <div>
        <a href=""><h1>Lunarpunk</h1></a>
        <h2>Forum</h2>        
    </div>
    <ul class="infoConnect">
        <li>Bienvenue <span id="nom"></span></li>
        <li>Nous sommes le : <span id="date"></li>
        <li>Vous vous êtes connecté à : <span id="heure"></li>
    </ul>
    <img id="burgerOpn" class="burgerBtn" src="../images/menu-burger.svg" alt="menu burger">
    <div id="overlay" class="overlay hidden"></div>
    <section id="burgerModal" class="burgerModal hidden">
        <img id="burgerClo" class="burgerBtn" src="../images/close-burger.svg" alt="menu burger">
        <ul class="navbar">
            <li>
                <button onclick="location.href='forum-home.html'" class="blue" type="button">Acceuil</button>
            </li>
            <li>
                <button onclick="location.href='forum-ironNchrome.html'" class="blue" type="button">Fer et Chrome</button>
            </li>
            <li>
                <button onclick="location.href='forum-mercWork.html'" class="blue" type="button">Boulots de Merc</button>
            </li>
            <li>
                <button onclick="location.href='forum-dailyLife.html'" class="blue" type="button">Quotidien</button>
            </li>
        </ul>
        <ul class="modalInfoConnect">
            <li>Bienvenue <span id="modalNom"></span></li>
            <li>Nous sommes le : <span id="modalDate"></li>
            <li>Vous vous êtes connecté à : <span id="modalHeure"></li>
        </ul>
        <button onclick="location.href='../index.html'" class="yellow deconnexion" type="button">Déconnexion <img src="../images/icon-logOut.svg" alt="icone de Déconnexion"></button>
    </section>
</header>

<main>
    <div id="subjects">
        <div id="subjectHeader">
            <h3>Forum - Fer et Chrome</h3>
            <div>
                <input type="text" id="myInput" placeholder="Titre du sujet">
                <button onclick="newElement()" class="yellow" type="button">Créer un sujet</button>
            </div>
        </div>
        
        <table>
            <tbody id="subjectList">
                <tr>
                    <td>Optiques Kiroshi déconne</td>
                    <td class="infoAutor">Créé le 15/06/2077 par Robert Linder</td>
                </tr>
                <tr>
                    <td>J'ai trouver un Carnage vert et rose</td>
                    <td class="infoAutor">Créé le 21/12/2076 par Oni Slaughter</td>
                </tr>
                <tr>
                    <td>Nouveau charcudoc' des Badlands</td>
                    <td class="infoAutor">Créé le 22/10/2074 par Maine Kiptum</td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav id="navigation">
        <ul class="navbar">
            <li>
                <button onclick="location.href='forum-home.html'" class="blue" type="button">Acceuil</button>
            </li>
            <li>
                <button onclick="location.href='forum-ironNchrome.html'" class="blue" type="button">Fer et Chrome</button>
            </li>
            <li>
                <button onclick="location.href='forum-mercWork.html'" class="blue" type="button">Boulots de Merc</button>
            </li>
            <li>
                <button onclick="location.href='forum-dailyLife.html'" class="blue" type="button">Quotidien</button>
            </li>
        </ul>
        <button onclick="location.href='../index.html'" class="yellow deconnexion" type="button">Déconnexion <img src="../images/icon-logOut.svg" alt="icone de Déconnexion"></button>
    </nav>
</main>

<script src="../javascript/subjects.js"></script>
<script src="../javascript/headerOnline.js"></script>
</body>
</html>